@page
@model ecommerce.Pages.Admin.loginModel
@{
}
<h1>Login Admin</h1>
<form method="post">
    <input type="text" name="adminName" placeholder="Login"/>
    <input type="text" name="password" placeholder="mot de passe" />
    <button>Se connecter</button>
</form>