@page
@model ecommerce.Pages.Client.RegisterModel
@{
}
<h1>Register</h1>
<form method="post">
    <input type="text" name="username" placeholder="your name" />
    <input type="text" name="password" placeholder="your password" />
    <input type="text" name="verificationPassword" placeholder="password verification" />
    <input type="text" name="phone" placeholder="your number phone" />
    <input type="email" name="email" placeholder="your email" />
    <button>Register</button>
</form>