@page
@model ecommerce.Pages.CancelModel
@{
}
<div class="container text-center mt-5">
    <h1 class="text-warning">Paiement annulé</h1>
    <p>Votre commande n'a pas été finalisée.</p>
    <a href="/panier" class="btn btn-primary">Retour au panier</a>
</div>